---
import Layout from "../layouts/Layout.astro";
import PageIntro from '../components/PageIntro.astro';
---

<Layout>
  <PageIntro
        title="Møllegades Boghandel"
        p="Møllegades Boghandel er en forening, der på frivillig basis driver boghandlen i Møllegade 8A for at skabe et sted for litteraturen at være, fri af både økonomiske interesser og institutionelle rammer. Med fokus på ny nordisk litteratur, mindre forlag og selvstændige udgivelser, såvel som oversatte værker fra verdenslitteraturen, skaber Møllegades Boghandel et rum for den gode litteratur, samt de vigtige samtaler om og oplevelser med den. Gennem boghandlens mange og forskellige litterære arrangementer ønsker vi at bidrage til lokalområdets litterære miljø og den litterære debat. Møllegades Boghandel er et mødested for alle litteratur-interesserede, med plads til fordybelse, nysgerrighed og begejstring. Boghandlen driver også Forlaget Møllegades Boghandel og Møllegades Boghandels Podcast, der hver især har fokus på den nordiske litteratur."
        src="/img/green_book.svg"
    />

  <section id="grid1-1">
    <div>
      <h3>Udover de store danske forlag, fører vi blandt andet:</h3>
      <p>
        <span>A</span>AFV Press, Antipyrine, Arena, Aurora Boreal, Autor, Arkiv
        for detaljer, Aleatorik <span>B</span> Baggaardsbaroner, Baggrund, Basilisk
        <span>C</span> Chateaux, Cris og Guldmann <span>D</span> Dockhaveri <span
          >E</span
        > Emancipat(t/ss)ionsfrugten, Ekbatana, Escho, Etcetera <span>F</span> Flamme,
        Forlaget Møllegades Boghandel <span>G</span> Gaia <span>H</span> H Press,
        Harpyie, Hurricane <span>K</span> Kolon, Korridor, Kronstork <span
          >L</span
        > Laboratoriet for Æstetik & Økologi, Lesen, Limbo Library, Longetti <span
          >M</span
        > Mindspace, Multivers
        <span>N</span> Nemo, Novellix <span>O</span> OEI editör, Oktober, Ovo Press
        <span>P</span> Palomar, Passive/Aggressive, Pelikanen <span>R</span> Robanofugl,
        Rue Lord Byron <span>S</span> Senmund, Sidste Århundrede, Sisyfos, Skjød,
        Space Poetry, Skjødt <span>T</span> Teg Publishing, Tredje Septembe, Tur
        <span>U</span> Uro <span>V</span> Virkelig <span>W</span> Weltscherz, Wunderbuch
        <span>Ø</span> Øverste Kirurgiske.
      </p>
    </div>
    <div id="tid">
      <h3>Og tidsskrifterne:</h3>
      <p>
        <span>A</span>Addenda, Amulet <span>B</span> Balthazar, Beijing Trondheim
        <span>F</span> FETT <span>H</span> Hvedekorn, Hæfte
        <span>K</span>Kulturo <span>L</span> Lyrikvännen <span>M</span> Marronage
        <span>N</span> Ny Jord <span>O</span> Ord & Bild, Ordkonst <span>P</span
        >
        Pist Protta, Próblema, Professor Kuhlau og hans slægt <span>R</span> Respons
        <span>S</span>
        STANDART <span>T</span> Trappe Tusind, Tydningen <span>V</span> Vagant, Victor
        B. Andersen’s maskinfabrik.
      </p>
    </div>
  </section>
</Layout>

<style>
  #tid {
    padding-top: 30rem;
    text-align: right;
    padding-left: 5rem;
  }

  #tekst {
    padding-top: 2rem;
  }

  span {
    color: var(--lov_gron);
    font-family: garamond;
    font-size: 3rem;
    padding: 1rem;
    font-weight: bold;
  }

  img {
    max-width: 100%;
    align-self: center;
    margin-left: 40%;
  }

  #grid1-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  @media only screen and (min-width: 600px) {
    main {
      padding: 14rem 8rem;
    }
    #grid1-1 {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
