---

import Bookcase from '../components/Bookcase.astro';
import PageIntro from '../components/PageIntro.astro';
import Layout from '../layouts/Layout.astro'

---

<Layout>
    <PageIntro
        title="Forlaget Møllegades Boghandel"
        p="Forlaget Møllegades Boghandel er en fortsættelse og forlængelse af den frivilligt drevne boghandel i Møllegade 8A. Drivkraften for både forlag og boghandel er fællesskabet og det personlige engagement samt ønsket om at give litteraturen tid og rum fra en platform fri af økonomiske interesser. I kraft af boghandlens position som samlingspunkt for litteraturinteresserede, har forlaget en særlig indsigt i og forbindelse til Danmarks spirende forfatterscene. Fællesskabet og nærheden, som boghandlen er bygget op omkring, tager vi med os ind i forlagets arbejde. Vi udgiver værker, der ofte overses af kommercielle forlag, og vi støtter nye og eksperimenterende forfattere. Forlaget samarbejder også med lokale kunstnere og aktører for at skabe unikke, tværfaglige udgivelser. Gennem vores arbejde ønsker vi at fremme en rig og mangfoldig litterær kultur, der reflekterer samfundets mange stemmer."
        src="/img/orange_book.svg"
    />

    <section>
        <h1>Udgivelser</h1>
        <p class="udgivelser">Klik på bøgerne for at se udgivelerne</p>
        <Bookcase/>
    </section>

    <section class="series">
        <div>
            <h2>Æra-Serien</h2>
            <img src="/img/ara.webp" alt="æra serien">
            <p class="light_font">Æra-serien er forlagets serie for debutanter.</p>
            <p>Æra-serien er et sted for eksperimenterende former og ny litteratur. Vi lægger vægt på et tæt  samarbejde mellem redaktør og forfatter. Det er sådan, vi vil skabe  debutantlitteratur, der skubber til grænserne for og sætter præg på den  danske litterære offentlighed. Med Æra-serien vil vi give plads til nye  og anderledes stemmer, der er i proces.</p>
        </div>
        <div>
            <h2>Arkade-Serien</h2>
            <img src="/img/arkade.webp" alt="arkade serien">
            <p class="light_font">Arkade-serien er forlagets serie for filosofi.</p>
            <p>I Arkade-serien bringes hidtil uoversatte værker af både anerkendte og oversete filosoffer, der bevæger sig i spændings-feltet mellem skønlitteratur og tænkning og belyser denne relation. Serien bygger på den række åbne seminarer om forholdet mellem litteratur og filosofi, der fandt sted i Møllegades Boghandel i årene 2015-2019, og i denne ånd ledsages seriens udgivelser således også af seminarer i boghandlen, der åbner værkerne op til samtale.</p>       
        </div>
    </section>

 
</Layout>

<style>
    .intro {
        display: flex;
        gap: 8rem;
        padding-bottom: 8rem;
    }
    .intro img {
        display: none;
    }
    .udgivelser {
        margin: -2rem 0 2rem 0;
    }

    .series {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .series div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .light_font {
        font-style: oblique;
    }

    h2 {
        padding: 2rem 0 0 0;
    }
    

    @media only screen and (min-width: 800px) {
    .intro img {
        display: block;
        width: 10%;
    }
    .intro p {
        width: 65%;
    }
    .series {
        padding-top: 4rem;
        display: flex;
        flex-direction: row;
    }
    .series div {
        width: 500px;
    }
    img {
        width: 500px;
    }
  }
</style>