---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Møllegades Boghandel</h1>
  <p>
    Møllegades Boghandel er en frivilligt drevet boghandel og kulturelt mødested
    på Nørrebro. Vi tilbyder et bredt udvalg af ny nordisk litteratur, mindre
    forlag og unikke udgivelser. Udover bøger, arrangerer vi også spændende
    litterære events og tilbyder udlejning af vores hyggelige lokaler. Besøg os
    på Møllegade 8A.
  </p>
  <img src="/img/forsideimg.svg" alt="" />
  <section></section>
</Layout>
