---
import Layout from "../layouts/Layout.astro";
import Pagelink from "../components/Pagelink.astro";
---

<Layout>
  <h1>Møllegades Boghandel</h1>
  <div class="imgdiv">
    <p class="middle">
      Møllegades Boghandel er en frivilligt drevet boghandel og kulturelt
      mødested på Nørrebro. Vi tilbyder et bredt udvalg af ny nordisk
      litteratur, mindre forlag og unikke udgivelser. Udover bøger, arrangerer
      vi også spændende litterære events og tilbyder udlejning af vores
      hyggelige lokaler. Besøg os på Møllegade 8A.
    </p>
  </div>
  <div class="imgdiv">
    <img id="forsidesvg" src="/img/forsideimg.svg" alt="" />
  </div>
  <section class="grid1_1">
    <Pagelink
      header="Lokale Udlejning"
      text="Vi udlejer vores lokaler til reception, skriveværksted, oplæsning osv. Læs mere her."
    />
    <Pagelink
      header="Events // kalender"
      text="Læs om vores litteraturfestival, Lyse Nætter og se kommende events."
    />
    <Pagelink
      header="Forlaget Møllegades Boghandel"
      text="Læs mere om Møllegades Boghandel og vores udvalg af ny nordisk litteratur her."
    />
    <Pagelink
      header="Møllegades Boghandel"
      text=" Frivilligdrevet boghandel på Nørrebro. Læs her om de forlag og tidsskrifter, vi fører."
    />
  </section>
</Layout>

<style>
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  h1 {
    text-align: center;
  }

  #forsidesvg {
    width: 40%;
  }

  .imgdiv {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }
  .middle {
    width: 60%;
  }
</style>
