---
import Layout from "../layouts/Layout.astro";
import Pagelink from "../components/Pagelink.astro";
---

<Layout>
  <h1>Møllegades Boghandel</h1>
  <div class="imgdiv">
    <p class="middle">
      Møllegades Boghandel er en frivilligt drevet boghandel og kulturelt
      mødested på Nørrebro. Vi tilbyder et bredt udvalg af ny nordisk
      litteratur, mindre forlag og unikke udgivelser. Udover bøger, arrangerer
      vi også spændende litterære events og tilbyder udlejning af vores
      hyggelige lokaler. Besøg os på Møllegade 8A.
    </p>
  </div>
  <div class="imgdiv">
    <img id="forsidesvg" src="/img/forsideimg.svg" alt="" />
  </div>
  <section class="grid1_1">
    <a href="/udlejning/"
      ><Pagelink
        header="Lokale Udlejning"
        text="Vi udlejer vores lokaler til reception, skriveværksted, oplæsning osv. Læs mere her."
      >
        <img src="/img/placeholder-img.png" alt="" width="100%" />
      </Pagelink></a
    >
    <a href="/kalender/"
      ><Pagelink
        header="Events // kalender"
        text="Læs om vores litteraturfestival, Lyse Nætter og læs mere om vores andre kommende events."
      >
        <img src="/img/placeholder-img.png" alt="" width="100%" />
      </Pagelink></a
    >
    <a href="/forlag/">
      <Pagelink
        header="Forlaget Møllegades Boghandel"
        text="Læs mere om Møllegades Boghandel og vores udvalg af ny nordisk litteratur her."
      />

      <img src="/img/placeholder-img.png" alt="" width="100%" />
    </a>
    <a href="/boghandel/"
      ><Pagelink
        header="Møllegades Boghandel"
        text=" Frivilligdrevet boghandel på Nørrebro. Læs her om de forlag og tidsskrifter, vi fører."
      >
        <img src="/img/placeholder-img.png" alt="" width="100%" />
      </Pagelink></a
    >
  </section>
</Layout>

<style>
  @media only screen and (min-width: 600px) {
    .grid1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      justify-content: center;
      row-gap: 4rem;
      margin: 0;
    }
    .middle {
      width: 60%;
    }
  }
  .middle {
    width: 60%;
  }
  .grid1_1 {
    margin: 20px;
  }
  h1 {
    text-align: center;
  }

  a,
  .linkpage li {
    text-transform: none;
  }

  #forsidesvg {
    width: 50%;
  }

  .imgdiv {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }
</style>
