---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Møllegades Boghandel</h1>
  <p>
    Møllegades Boghandel er en frivilligt drevet boghandel og kulturelt mødested
    på Nørrebro. Vi tilbyder et bredt udvalg af ny nordisk litteratur, mindre
    forlag og unikke udgivelser. Udover bøger, arrangerer vi også spændende
    litterære events og tilbyder udlejning af vores hyggelige lokaler. Besøg os
    på Møllegade 8A.
  </p>
  <img src="/img/forsideimg.svg" alt="" />
  <section>
    <article>
      <h4>Lokale Udlejning</h4>
      <p>Vi lejer lokaler til skriveværksted, oplæsning osv. Læs mere her.</p>
      <img src="/public/img/placeholder-img.png" alt="" width="45%" />
    </article>
    <article>
      <h4>Events // kalender</h4><p>
        Læs om vores litteraturfestival, Lyse Nætter og se kommende events.
      </p>
      <img src="/public/img/placeholder-img.png" alt="" width="45%" />
    </article>
    <article>
      <h4>Forlaget Møllegades Boghandel</h4><p>
        Læs mere om Møllegades Boghandel og vores udvalg af ny nordisk
        litteratur her.
      </p>
      <img src="/public/img/placeholder-img.png" alt="" width="45%" />
    </article>
    <article>
      <h4>Møllegades Boghandel</h4><p>
        Frivilligdrevet boghandel på Nørrebro. Læs her om de forlag of
        tidsskrifter, vi fører.
      </p>
      <img src="/public/img/placeholder-img.png" alt="" width="45%" />
    </article>
  </section>
</Layout>
