---
import Layout from "../layouts/Layout.astro";
import Event from "../components/Event.astro";
import Carrousel from "../components/Carrousel.astro";
---

<Layout>
  <h1>Events//Kalender</h1>
  <Event
    title="Aften om palæstinensisk litteratur"
    dato="Ons, 8. maj"
    tid="kl. 18-20"
    p1="Den 8. maj vil vi gerne invitere jer indenfor til en aften om palæstinentisk litteratur fra 18-20. I boghandlen synes vi, at det er vigtig, særligt nu, at sætte fokus på og uddanne os inden for palæstinensisk kultur og historie, og dette gør vi, ved at gøre det vi som boghandlere gør bedst, ved at fremhæve, læse og tale om palæstinensisk litteratur."
    p2="Vi har derfor inviteret foredragsholder og oversætter Naja Bjørnsson og journalist og foredragsholder Nidal Abu Arif til oplæsning af og samtale om udvalgte palæstinensiske værker og forfattere. Vi har sammensat en hylde med palæstinensisk litteratur med hjælp fra Naja, og samtalen har til formål at introducere de værker, vi fremadrettet vil fremhæve på hylden og sælge i boghandlen. Alt overskud fra salget herfra vil gå til Det Danske Hus i Palæstina.Det hele finder sted i Møllegades boghandel onsdag den 8. maj fra 18-20. Det er gratis at deltage.Vi håber I har lyst til at komme forbi og lytte med, købe en bog fra hylden og deltage i samtalen med Naja og Nidal, der både fortæller og tager imod spørgsmål fra de deltagende. Der vil også være mulighed for at drikke et lille glas <3 vi glæder os til at se jer!"
    p3="Arrangementet er støttet af Tuborgfondet og er det første ud af en række arrangementer, der skal sætte fokus på minoriserede gruppers litteratur. Samtalerne skal være kontinuerlige og manifestere sig fysisk i vores boghandel i form af en hylde, der knytter sig til hvert arrangement det næste års tid."
    src="/img/kalender1.webp"
    alt="billede til event"
  />
  <Event
    title="Seline Rørbech Slagtryk forsider 2023"
    dato="Fre, 26. april"
    tid="kl. 18-22"
    p1="Seline Rørbech var i 2023 forsidekunstner for det tidsskriftet Slagtryk."
    p2="I løpet av året laget hun ti forsider til tidsskriftets utgivelser, nå har vi i Møllgades Boghandel fått lov til å ha dem hengende i butikken, og det skal feires."
    p3="Kom til fernisering, drikk et galss bobler, bli hengende og se på kunsten eller kjøp en bok. Vil gleder oss til å se deg i Møllen"
    src="/img/kalender2.webp"
    alt="billede til event"
  />
  <Event
    title="Bänken on tour"
    dato="Lør, 30. marts"
    tid="kl. 18-22"
    p1="De holder en opplesnings aften og der vil være bar og hyggelig stemning"
    p2="De kommer noen av sine folk og det blir en virkelig fed aften med svenske og danske forfattere. Følgende forfattere kommer for å lese opp: Shadi Angelina Bazeghi (@shadiangelinabazeghi), Jesper Brygger (@jesperbrygger), Eric Margér, Jonathan Bergsbornog med flere tba."
    src="/img/kalender3.webp"
    alt="billede til event"
  />
  <Event
    title="Mandelsolens Planet"
    dato="Tors, 23. november"
    tid="kl. 17-21"
    p1="Kom og hør om Mandelsolens Planet, en spekulativ, økofeministisk sci-fi af Françoise d’Eaubonne, der er udkommet på A Mock Book for nylig!"
    p2="Forlaget skriver om bogen: “I begyndelsen af det 21. århundrede overfører kvinder liv ved ektogenese, uden hjælp fra mænd. I denne kontekst sendes Ariane, fortælleren, på en rummission for at udforske den mystiske planet X, der cirkler rundt om en mandelformet sol. Udforskningen af den ukendte planet går ikke som forventet. Planeten er i bogstavelig forstand levende og beboet af et særegent futuristisk samfund, der efterhånden afslører sine hemmeligheder.”"
    p3="Der vil først være et foredrag ved oversætter Anne Marie Têtevide om bogen og det 70’ernes Frankrig den indskriver sig i, så en pause, og derefter en samtale mellem oversætteren og en af os frivillige.Det hele foregår i Møllegades Boghandel torsdag d. 23 november kl. 19! Vi sælger kaffe, kage og øl. Håber vi ses!"
    src="/img/kalender4.webp"
    alt="billede til event"
  />

 
  <section id="grid1-1">
    <div class="text">
      <h1 class="lyse_netter">Lyse Nætter</h1>
      <p>
        Lyse Nætter er en litterær gadefestival, der finder sted om sommeren.
        Festivalen er frivilligt drevet og organiseret af de tre litterære
        institutioner i Møllegade: LiteraturHaus, Ark Books og Møllegades
        Boghandel. Festivalen er gratis for alle og foregår udendørs på
        Møllegade.
      </p>
      <p>
        Lyse Nætter finder typisk sted mellem den 27. august og 3. september og
        byder på en række litterære arrangementer, oplæsninger, workshops og
        debatter. Festivalen har til formål at fremme litterær kultur og skabe
        et rum for både nye og etablerede stemmer inden for litteraturen.
      </p>
      <p>
        Til højre ses plakater fra tidligere år. Vi glæder os til at byde alle
        velkommen til en uge fyldt med inspirerende litterære oplevelser og
        fællesskab.
      </p>
    </div>
    <Carrousel
      src1="/img/ln2023.webp"
      src2="/img/ln2022.webp"
      src3="/img/ln2021_1.webp"
      src4="/img/ln2021_2.webp"
    />
  </section>
</Layout>

<style>
  #grid1-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem;
    min-width: 400px;
  }

  p {
    padding-top: 2rem;
  }

  .lyse_netter {
    margin-bottom: -3rem;
  }

  @media only screen and (min-width: 800px) {
    #grid1-1 {
      flex-direction: row;
    }
    p {
    width: 90%;
  }
  }
</style>
