---
import Layout from "../layouts/Layout.astro";
import Carrousel from "../components/Carrousel.astro";
---

<Layout>
  
  <section id="grid2-1">
    <div>
      <h1>Udlejning af lokaler</h1>
      <p>
        Møllegades Boghandel tilbyder udlejning af vores hyggelige og
        inspirerende lokaler. Uanset om du har brug for et sted til en
        læsekreds, skrivegruppe eller bogreception, har vi de perfekte rammer.
        Læs videre for at se, hvordan vores baglokale og forlokale kan opfylde
        dine behov.
      </p>
    </div>
    <img src="/img/books.svg" alt="book" />
  </section>

  <section id="grid1-1">
    <Carrousel id="forlokalet"
      src1="/img/forromforside.webp"
      src2="/img/merebok.webp"
      src3="/img/vindu.webp"
      src4="/img/pult.webp"
    />
    <h3 class="grid_column_1">Forlokalet</h3>
    <p class="grid_column_1">
        Forlokalet i Møllegades Boghandel kan bruges til bogreceptioner og andre
        litterære arrangementer. Det åbne og indbydende miljø er ideelt til at
        fejre nye udgivelser, holde oplæsninger og samle litteraturentusiaster
        til spændende diskussioner. Med plads til både forfattere og læsere
        tilbyder forlokalet en unik mulighed for at netværke og dele passionen
        for litteratur. Kontakt os for at høre mere om, hvordan du kan leje
        forlokalet til dit næste arrangement.
    </p>
    <p class="grid_column_1"><span>Telefon:</span> +45 29 90 48 86</p>
    <p class="grid_column_1 "><span>Mail:</span> info@moellegadesbohandel.dk</p>
  </section>

  <section id="grid1-1">
      <h3 class="grid_column_2">Baglokalet</h3>
      <p class="grid_column_2">
        Vores baglokale fungerer som et læse- og skrivekreds om aftenen til en
        pris af 500 kr. Dette hyggelige og inspirerende rum er perfekt til små
        grupper, der ønsker at fordybe sig i litteraturen og dele deres tanker
        og ideer. Uanset om det er for at læse og diskutere nye værker eller for
        at skrive og få feedback fra ligesindede, skaber baglokalet en intim og
        kreativ atmosfære. Kontakt os for at reservere baglokalet til din næste
        læse- eller skrivekreds.
      </p>
      <p class="grid_column_2"><span>Telefon:</span> +45 29 90 48 86</p>
      <p class="grid_column_2"><span>Mail:</span> info@moellegadesbohandel.dk</p>

      <div class="slideshow" id="baglokalet">
        <div class="slideshow-container">
          <div class="mySlides_2 fade">
            <img
              class="pic1"
              src="/img/kjokkendor.webp"
              alt="bok"
            />
          </div>
          <div class="mySlides_2 fade">
            <img
              class="pic1"
              src="/img/vask.webp"
              alt="bok"
            />
          </div>
          <div class="mySlides_2 fade">
            <img
              class="pic1"
              src="/img/kjokken.webp"
              alt="bok"
            />
          </div>
          <div class="mySlides_2 fade">
            <img
              class="pic1"
              src="/img/stekepanne.webp"
              alt="bok"
            />
          </div>
        </div>
  
        <div class="dot-container">
          <span class="dot_2"></span>
          <span class="dot_2"></span>
          <span class="dot_2"></span>
          <span class="dot_2"></span>
        </div>
  
      </div>
  </section>

  <script>
    let slideIndexTwo = 0;
    const slidesTwo = document.getElementsByClassName("mySlides_2");
    const dotsTwo = document.getElementsByClassName("dot_2");

    showSlidesTwo();

    function showSlidesTwo() {

      // warning, der skal altid være samme antal slides og dots
      // den går igennem hver dot, og sætter den og dens slide til at være gemt
      // (i = index) (sker når i er mindre end antalet af dots) (efter hver itteration tilføjer den 1 til i)
      for (var i = 0; i < dotsTwo.length; i++) {
          // fjerne klassen active fra dotten
          dotsTwo[i].className = dotsTwo[i].className.replace(" active", "");

          // konverterer slidet til html element, for at kunne style og putter så display = none
          (slidesTwo[i] as HTMLElement).style.display = "none";
      }
      
      // viser det ønskede slide og dot
      (slidesTwo[slideIndexTwo] as HTMLElement).style.display = "block";
      dotsTwo[slideIndexTwo].className += " active";
      
      // tilføjer en til indexet
      slideIndexTwo++;

      // hvis indexet bliver større end antallet af dots, bliver indexet 0 igen (length starter på 1, et array starter på 0)
      if (slideIndexTwo > dotsTwo.length - 1) {
          slideIndexTwo = 0;
      }
  }
           
      // kører et for-loop, der sætter klik på dots
      for (var i = 0; i < dotsTwo.length; i++) {
          dotsTwo[i].addEventListener('click', function(){

              //  finder indexet af den klikkede dot i arrayet af dots, og kører funktionen curretnSlide med det index
              currentSlideTwo(Array.from(dotsTwo).indexOf(this))
          });
      }

      // n er et parrameter og bliver fundet gennemt det foregående for-loop
      // funktionen kører showSlides med det nye index
      function currentSlideTwo(n) {
          slideIndexTwo = n;
          showSlidesTwo();
      }

      // setInterval er en javaScript funktion, som tager imod en funktion og antal millisekunder
      // den kører funktionen i intavaller af det antal millisekunder, der er angivet
      setInterval(showSlidesTwo, 3000);

  </script>

</Layout>

<style>

  section {
    padding-bottom: 4rem;
  }

  #grid2-1 img {
    display: none;
  }

  #grid1-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  p {
    padding-bottom: 1.5rem;
  }

  h3 {
    padding-top: 0;
  }

 #baglokalet {
    grid-row: 2/3;
  }

  @media only screen and (min-width: 600px) {
    #grid1-1 {
      grid-template-columns: 1fr 1fr;
    }

    #grid2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 8rem;
    }

    #grid2-1 img {
    display: block;
  }

    .grid_column_1 {
      grid-column: 2/3;
      padding-left: 1rem;
    }

    .grid_column_2 {
      grid-column: 1/2;
      text-align: right;
      padding-right: 1rem;
    }

    #baglokalet{
      grid-row: 1/5;
      grid-column: 2/3;
    }
  }


  /*slideshow*/

  .slideshow-container {
      position: relative;
      margin: auto;
      padding-top: 1rem;
    }
  
    .mySlides_2 {
      display: none;
    }
  
    .mySlides_2 img {
      height: 400px;
      max-width: 100%;
      display: block;
      margin: auto;
      object-fit: cover;
    }
    .slideshow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  
    .dot_2 {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
  
    .active,
    .dot_2:hover {
      background-color: var(--lov_gron);
    }
  
    @media only screen and (min-width: 800px) {
      .slideshow-container {
      width: 25vw;
      }
      #baglokalet .slideshow-container {
      width: 40vw;
      }
    }

</style>
