---

---

<section id="bookcase">
<img class="book" id="omnogen" src="/img/OmNogen_ryg.png" alt="bog">
<div  class="panel">
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque ratione alias similique fuga perferendis architecto assumenda autem vitae, eveniet eligendi delectus quaerat! Tempora iure ex, eius provident sint corporis?</p>
</div>
<img class="book" src="/img/OmNogen_ryg.png" alt="bog">
<div class="panel">
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque ratione alias similique fuga perferendis architecto assumenda autem vitae, eveniet eligendi delectus quaerat! Tempora iure ex, eius provident sint corporis?</p>
</div>
<img class="book" src="/img/OmNogen_ryg.png" alt="bog">
<div class="panel">
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque ratione alias similique fuga perferendis architecto assumenda autem vitae, eveniet eligendi delectus quaerat! Tempora iure ex, eius provident sint corporis?</p>
</div>
<img class="book" src="/img/OmNogen_ryg.png" alt="bog">
<div class="panel">
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque ratione alias similique fuga perferendis architecto assumenda autem vitae, eveniet eligendi delectus quaerat! Tempora iure ex, eius provident sint corporis?</p>
</div>
<img class="book" src="/img/OmNogen_ryg.png" alt="bog">
<div class="panel">
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque ratione alias similique fuga perferendis architecto assumenda autem vitae, eveniet eligendi delectus quaerat! Tempora iure ex, eius provident sint corporis?</p>
</div>

<script>
  var acc = document.getElementsByClassName("book");
    var i;

    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}

</script>

</section>

<style>
    #bookcase {
        display: flex;
        justify-content: center;
    }

    .book {
        transition: 2s;
    }

    .panel {
        background-color: grey;
        display: none;
    }


</style>