---

---

<section id="bookcase">
<img class="book" id="omnogen" src="/img/OmNogen_ryg.png" alt="bog">
<div  class="panel">
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque ratione alias similique fuga perferendis architecto assumenda autem vitae, eveniet eligendi delectus quaerat! Tempora iure ex, eius provident sint corporis?</p>
</div>
<img class="book" src="/img/OmNogen_ryg.png" alt="bog">
<div class="panel">
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque ratione alias similique fuga perferendis architecto assumenda autem vitae, eveniet eligendi delectus quaerat! Tempora iure ex, eius provident sint corporis?</p>
</div>
<img class="book" src="/img/OmNogen_ryg.png" alt="bog">
<div class="panel">
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque ratione alias similique fuga perferendis architecto assumenda autem vitae, eveniet eligendi delectus quaerat! Tempora iure ex, eius provident sint corporis?</p>
</div>
<img class="book" src="/img/OmNogen_ryg.png" alt="bog">
<div class="panel">
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque ratione alias similique fuga perferendis architecto assumenda autem vitae, eveniet eligendi delectus quaerat! Tempora iure ex, eius provident sint corporis?</p>
</div>
<img class="book" src="/img/OmNogen_ryg.png" alt="bog">
<div class="panel">
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque ratione alias similique fuga perferendis architecto assumenda autem vitae, eveniet eligendi delectus quaerat! Tempora iure ex, eius provident sint corporis?</p>
</div>

<script>
    // finder alle bøgerne, og sætter dem som variablen 'books'
    const books = document.querySelectorAll(".book");

    // kører en function for hver af bøgerne
    books.forEach(function(book) {

        // sætter klik på den specifikke bog, som så kører en funktion
        book.addEventListener("click", function() {

            // function, der sætter display = none på alle elementer på siden, der kommer efter enhver bog
            books.forEach(function(element) {
                element.nextElementSibling.style.display = "none";

                element.style.display = "block";
            });

            // sætter elementet efter den bog, der er blevet trykket på (det ved den fra 'click' functionen) til at have display = block, så det bliver synligt
            const panel = this.nextElementSibling;
            panel.style.display = "block";

            //
            this.style.display = "none";
        });
    });

</script>

</section>

<style>
    #bookcase {
        display: flex;
        justify-content: center;
    }

    .book {
        transition: 2s;
    }

    .panel {
        background-color: grey;
        display: none;
    }

    @keyframe 


</style>