---

---

<hr />

<section class="grid_nyhedsbrev">
  <h4>Tilmeld dig vores nyhedsbrev</h4>
  <form
    class="tilmeldbrev"
    name="Contact"
    data-netlify="true"
    method="POST"
    action="/submit_form"
  >
    <div class="inputspace">
      <input
        type="text"
        id="fornavn"
        name="fornavn"
        placeholder="Fornavn"
        required
      />
      <hr class="inputline" />
    </div>
    <div class="inputspace">
      <input
        type="text"
        id="efternavn"
        name="efternavn"
        placeholder="Efternavn"
        required
      />
      <hr class="inputline" />
    </div>
    <div class="inputspace">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="E-mail"
        required
      />
      <hr class="inputline" />
    </div>
    <div>
      <button type="submit" class="submit">Submit</button>
    </div>
  </form>
</section>

<hr />

<section class="grid1_linje_1">
  <article>
    <h4>Boghandlen</h4>
    <article class="grid1_1">
      <div>
        <p>Møllegade 8A, 2200 København N</p>
        <p>info@moellegadesboghandel.dk</p>
        <p>+45 29 90 48 86</p>
        <p>CVR: 33942219</p>
      </div>
      <div id="opening">
        <p>Mandag - Lørdag 14-18</p>
        <p><em>Åbningstider kan variere</em></p>
      </div>
    </article>
    <article class="linkslogo">
      <div class="sociale_medier">
        <a href="https://www.facebook.com/moellegades" target="_blank" aria-label="gå til Møllegade Boghandels Facebook side"
          ><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_618_3613)">
            <path d="M36 18C36 8.05896 27.941 0 18 0C8.05896 0 0 8.05896 0 18C0 26.4413 5.81184 33.5246 13.6519 35.4701V23.5008H9.94032V18H13.6519V15.6298C13.6519 9.50328 16.4246 6.6636 22.4395 6.6636C23.58 6.6636 25.5478 6.88752 26.3527 7.11072V12.0967C25.9279 12.0521 25.1899 12.0298 24.2734 12.0298C21.3221 12.0298 20.1816 13.1479 20.1816 16.0546V18H26.0611L25.051 23.5008H20.1816V35.8682C29.0945 34.7918 36.0007 27.203 36.0007 18H36Z" fill="black"/>
            </g>
            <defs>
            <clipPath id="clip0_618_3613">
            <rect width="36" height="36" fill="white"/>
            </clipPath>
            </defs>
            </svg></a
        >
        <a
          href="https://www.instagram.com/moellegadesboghandel/" aria-label="gå til Møllegade Boghandels Instagram side"
          target="_blank"><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_618_3627)">
            <path d="M18 3.24141C22.8094 3.24141 23.3789 3.2625 25.2703 3.34687C27.0281 3.42422 27.9773 3.71953 28.6102 3.96563C29.4469 4.28906 30.0516 4.68281 30.6773 5.30859C31.3102 5.94141 31.6969 6.53906 32.0203 7.37578C32.2664 8.00859 32.5617 8.96484 32.6391 10.7156C32.7234 12.6141 32.7445 13.1836 32.7445 17.9859C32.7445 22.7953 32.7234 23.3648 32.6391 25.2563C32.5617 27.0141 32.2664 27.9633 32.0203 28.5961C31.6969 29.4328 31.3031 30.0375 30.6773 30.6633C30.0445 31.2961 29.4469 31.6828 28.6102 32.0062C27.9773 32.2523 27.0211 32.5477 25.2703 32.625C23.3719 32.7094 22.8023 32.7305 18 32.7305C13.1906 32.7305 12.6211 32.7094 10.7297 32.625C8.97188 32.5477 8.02266 32.2523 7.38984 32.0062C6.55313 31.6828 5.94844 31.2891 5.32266 30.6633C4.68984 30.0305 4.30312 29.4328 3.97969 28.5961C3.73359 27.9633 3.43828 27.007 3.36094 25.2563C3.27656 23.3578 3.25547 22.7883 3.25547 17.9859C3.25547 13.1766 3.27656 12.607 3.36094 10.7156C3.43828 8.95781 3.73359 8.00859 3.97969 7.37578C4.30312 6.53906 4.69688 5.93437 5.32266 5.30859C5.95547 4.67578 6.55313 4.28906 7.38984 3.96563C8.02266 3.71953 8.97891 3.42422 10.7297 3.34687C12.6211 3.2625 13.1906 3.24141 18 3.24141ZM18 0C13.1133 0 12.5016 0.0210937 10.582 0.105469C8.66953 0.189844 7.35469 0.499219 6.21563 0.942187C5.02734 1.40625 4.02188 2.01797 3.02344 3.02344C2.01797 4.02187 1.40625 5.02734 0.942188 6.20859C0.499219 7.35469 0.189844 8.6625 0.105469 10.575C0.0210938 12.5016 0 13.1133 0 18C0 22.8867 0.0210938 23.4984 0.105469 25.418C0.189844 27.3305 0.499219 28.6453 0.942188 29.7844C1.40625 30.9727 2.01797 31.9781 3.02344 32.9766C4.02188 33.975 5.02734 34.5937 6.20859 35.0508C7.35469 35.4937 8.6625 35.8031 10.575 35.8875C12.4945 35.9719 13.1062 35.993 17.993 35.993C22.8797 35.993 23.4914 35.9719 25.4109 35.8875C27.3234 35.8031 28.6383 35.4937 29.7773 35.0508C30.9586 34.5937 31.9641 33.975 32.9625 32.9766C33.9609 31.9781 34.5797 30.9727 35.0367 29.7914C35.4797 28.6453 35.7891 27.3375 35.8734 25.425C35.9578 23.5055 35.9789 22.8937 35.9789 18.007C35.9789 13.1203 35.9578 12.5086 35.8734 10.5891C35.7891 8.67656 35.4797 7.36172 35.0367 6.22266C34.5938 5.02734 33.982 4.02187 32.9766 3.02344C31.9781 2.025 30.9727 1.40625 29.7914 0.949219C28.6453 0.50625 27.3375 0.196875 25.425 0.1125C23.4984 0.0210938 22.8867 0 18 0Z" fill="black"/>
            <path d="M18 8.75391C12.8953 8.75391 8.75391 12.8953 8.75391 18C8.75391 23.1047 12.8953 27.2461 18 27.2461C23.1047 27.2461 27.2461 23.1047 27.2461 18C27.2461 12.8953 23.1047 8.75391 18 8.75391ZM18 23.9977C14.6883 23.9977 12.0023 21.3117 12.0023 18C12.0023 14.6883 14.6883 12.0023 18 12.0023C21.3117 12.0023 23.9977 14.6883 23.9977 18C23.9977 21.3117 21.3117 23.9977 18 23.9977Z" fill="black"/>
            <path d="M29.7703 8.38809C29.7703 9.5834 28.8 10.5467 27.6117 10.5467C26.4164 10.5467 25.4531 9.57637 25.4531 8.38809C25.4531 7.19278 26.4234 6.22949 27.6117 6.22949C28.8 6.22949 29.7703 7.19981 29.7703 8.38809Z" fill="black"/>
            </g>
            <defs>
            <clipPath id="clip0_618_3627">
            <rect width="36" height="36" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            </a
        >
      </div>
      <img class="logo" src="/img/logo_1.svg" alt="" />
    </article>
  </article>
  <div id="linebetween"></div>
  <hr class="inbetweenline" />
  <article>
    <h4>Forlaget</h4>
    <p>Forlaget kan kontaktes på</p>
    <p>moellegadesforlag@gmail.com</p>
    <article class="linkslogo">
      <div class="sociale_medier">
        <a aria-label="gå til Forlaget Møllegade Boghandels Facebook side"
          class="fillcolormoelle"
          href="https://www.facebook.com/profile.php?id=100064144357563"
          target="_blank"
        >
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_618_3613)">
          <path d="M36 18C36 8.05896 27.941 0 18 0C8.05896 0 0 8.05896 0 18C0 26.4413 5.81184 33.5246 13.6519 35.4701V23.5008H9.94032V18H13.6519V15.6298C13.6519 9.50328 16.4246 6.6636 22.4395 6.6636C23.58 6.6636 25.5478 6.88752 26.3527 7.11072V12.0967C25.9279 12.0521 25.1899 12.0298 24.2734 12.0298C21.3221 12.0298 20.1816 13.1479 20.1816 16.0546V18H26.0611L25.051 23.5008H20.1816V35.8682C29.0945 34.7918 36.0007 27.203 36.0007 18H36Z" fill="black"/>
          </g>
          <defs>
          <clipPath id="clip0_618_3613">
          <rect width="36" height="36" fill="white"/>
          </clipPath>
          </defs>
          </svg>
        </a>
        <a
          href="https://www.instagram.com/forlagetmoellegadesboghandel/" aria-label="gå til Forlaget Møllegade Boghandels Instagram side"
          target="_blank"><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_618_3627)">
            <path d="M18 3.24141C22.8094 3.24141 23.3789 3.2625 25.2703 3.34687C27.0281 3.42422 27.9773 3.71953 28.6102 3.96563C29.4469 4.28906 30.0516 4.68281 30.6773 5.30859C31.3102 5.94141 31.6969 6.53906 32.0203 7.37578C32.2664 8.00859 32.5617 8.96484 32.6391 10.7156C32.7234 12.6141 32.7445 13.1836 32.7445 17.9859C32.7445 22.7953 32.7234 23.3648 32.6391 25.2563C32.5617 27.0141 32.2664 27.9633 32.0203 28.5961C31.6969 29.4328 31.3031 30.0375 30.6773 30.6633C30.0445 31.2961 29.4469 31.6828 28.6102 32.0062C27.9773 32.2523 27.0211 32.5477 25.2703 32.625C23.3719 32.7094 22.8023 32.7305 18 32.7305C13.1906 32.7305 12.6211 32.7094 10.7297 32.625C8.97188 32.5477 8.02266 32.2523 7.38984 32.0062C6.55313 31.6828 5.94844 31.2891 5.32266 30.6633C4.68984 30.0305 4.30312 29.4328 3.97969 28.5961C3.73359 27.9633 3.43828 27.007 3.36094 25.2563C3.27656 23.3578 3.25547 22.7883 3.25547 17.9859C3.25547 13.1766 3.27656 12.607 3.36094 10.7156C3.43828 8.95781 3.73359 8.00859 3.97969 7.37578C4.30312 6.53906 4.69688 5.93437 5.32266 5.30859C5.95547 4.67578 6.55313 4.28906 7.38984 3.96563C8.02266 3.71953 8.97891 3.42422 10.7297 3.34687C12.6211 3.2625 13.1906 3.24141 18 3.24141ZM18 0C13.1133 0 12.5016 0.0210937 10.582 0.105469C8.66953 0.189844 7.35469 0.499219 6.21563 0.942187C5.02734 1.40625 4.02188 2.01797 3.02344 3.02344C2.01797 4.02187 1.40625 5.02734 0.942188 6.20859C0.499219 7.35469 0.189844 8.6625 0.105469 10.575C0.0210938 12.5016 0 13.1133 0 18C0 22.8867 0.0210938 23.4984 0.105469 25.418C0.189844 27.3305 0.499219 28.6453 0.942188 29.7844C1.40625 30.9727 2.01797 31.9781 3.02344 32.9766C4.02188 33.975 5.02734 34.5937 6.20859 35.0508C7.35469 35.4937 8.6625 35.8031 10.575 35.8875C12.4945 35.9719 13.1062 35.993 17.993 35.993C22.8797 35.993 23.4914 35.9719 25.4109 35.8875C27.3234 35.8031 28.6383 35.4937 29.7773 35.0508C30.9586 34.5937 31.9641 33.975 32.9625 32.9766C33.9609 31.9781 34.5797 30.9727 35.0367 29.7914C35.4797 28.6453 35.7891 27.3375 35.8734 25.425C35.9578 23.5055 35.9789 22.8937 35.9789 18.007C35.9789 13.1203 35.9578 12.5086 35.8734 10.5891C35.7891 8.67656 35.4797 7.36172 35.0367 6.22266C34.5938 5.02734 33.982 4.02187 32.9766 3.02344C31.9781 2.025 30.9727 1.40625 29.7914 0.949219C28.6453 0.50625 27.3375 0.196875 25.425 0.1125C23.4984 0.0210938 22.8867 0 18 0Z" fill="black"/>
            <path d="M18 8.75391C12.8953 8.75391 8.75391 12.8953 8.75391 18C8.75391 23.1047 12.8953 27.2461 18 27.2461C23.1047 27.2461 27.2461 23.1047 27.2461 18C27.2461 12.8953 23.1047 8.75391 18 8.75391ZM18 23.9977C14.6883 23.9977 12.0023 21.3117 12.0023 18C12.0023 14.6883 14.6883 12.0023 18 12.0023C21.3117 12.0023 23.9977 14.6883 23.9977 18C23.9977 21.3117 21.3117 23.9977 18 23.9977Z" fill="black"/>
            <path d="M29.7703 8.38809C29.7703 9.5834 28.8 10.5467 27.6117 10.5467C26.4164 10.5467 25.4531 9.57637 25.4531 8.38809C25.4531 7.19278 26.4234 6.22949 27.6117 6.22949C28.8 6.22949 29.7703 7.19981 29.7703 8.38809Z" fill="black"/>
            </g>
            <defs>
            <clipPath id="clip0_618_3627">
            <rect width="36" height="36" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            </a
        >
      </div>
      <img class="logo" src="/img/logo_2.svg" alt="" />
    </article>
  </article>
</section>

<style>
  /* Layout */

  input::placeholder {
    font-family: maitree, serif;
    font-size: 16px;
  }

  .inputspace {
    position: relative;
    margin-right: 40px;
    margin-top: 20px;
  }

  .input {
    color: #737373;
    margin-top: 18px;
    padding: 0 5px;
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 14px;
  }

  .inputspace input {
    border: none;
    border-bottom: 1px solid #000;
    padding: 5px;
    width: 150px;
    font-family: maitree, serif;
    font-size: 16px;
  }

  .inputspace hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
  }

  .submit {
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-family: maitree, serif;
    font-size: 18px;
    margin-top: 18px;
  }

  .submit:hover {
    color: var(--solskind_orange);
    transition: color 0.3s ease;
  }
  section {
    padding: 3%;
  }

  .inputline {
    width: 400px;
  }

  h4 {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 50px;
    padding: 0;
    width: 100%;
  }

  /* Logo + Social Media Links */


  .linkslogo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: end;
    padding-bottom: 2rem;
  }
  .linkslogo:first-of-type {
    margin-top: 2rem;
  }

  .logo {
    justify-self: end;
    width: 90px;
  }

  #linebetween {
    display: none;
  }


  .sociale_medier svg {
    width: 20%;
  }
  .sociale_medier svg:hover path{
    fill: var(--lov_gron);
  }

  #opening {
    padding-top: 1rem;
  }

  button {
    padding-bottom: 1rem;
  }

  /* Media Queries */
  @media only screen and (min-width: 800px) {
    .grid1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    #opening {
      justify-self: end;
      margin-right: 10px;
    }

    .grid1_linje_1 {
      display: grid;
      grid-template-columns: 10fr 1fr 10fr;
      gap: 0;
    }

    .grid_nyhedsbrev {
      display: flex;
    }

    .tilmeldbrev {
      display: flex;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .inputline {
      width: 200px;
    }

    .inputspace {
      margin-left: 10px;
      margin-right: 20px;
    }

    .submit {
      justify-self: end;
    }

    .inbetweenline {
      display: none;
    }

    #linebetween {
      display: block;
      background-color: #9A9A9A;
      width: 1px;
      height: 150%;
      justify-self: center;
      margin, padding: 0;
      margin-top: -3vw;
  
    }
    button {
    padding-bottom: 0;
  }
  }
   
</style>
