---

---

<hr />

<section class="grid_nyhedsbrev">
  <h4>Tilmeld dig vores nyhedsbrev</h4>
  <article class="">
    <p class="input">Fornavn</p><p class="input">E-mail</p><p class="input">
      Efternavn
    </p><p>Submit</p>
  </article>
</section>

<hr />

<section class="border_line">
  <article>
    <h4>Boghandlen</h4>
    <article>
      <div>
        <p>Møllegade 8A, 2200 København N</p>
        <p>info@moellegadesboghandel.dk</p>
        <p>+45 29 90 48 86</p>
        <p>CVR: 33942219</p>
      </div>
      <div>
        <p>Mandag - Lørdag 14-18</p>
        <p>Åbningstider kan variere</p>
      </div>
    </article>
    <article class="">
      <div class="sociale_medier">
        <img src="/img/facebook_icon.svg" alt="" /><img
          src="/img/instagram_icon.svg"
          alt=""
        />
      </div>
      <img src="/img/logo_1.svg" alt="" />
    </article>
  </article>
</section>
<hr />
<section>
  <article>
    <h4>Forlaget</h4>
    <p>Forlaget kan kontaktes på</p>
    <p>moellegadesforlag@gmail.com</p>
    <article>
      <div class="sociale_medier">
        <img src="/img/facebook_icon.svg" alt="" /><img
          src="/img/instagram_icon.svg"
          alt=""
        />
      </div>
      <img src="/img/logo_2.svg" alt="" />
    </article>
  </article>
</section>

<style>
  section {
    padding: 5%;
  }
  .sociale_medier img {
    margin-right: 30px;
  }
</style>
