---

---

<nav>
     <ul id="mobile">
        <img class="logo" src="/img/logo_1.svg" alt="logo">
        <img class="burger" src="/img/burger_open.svg" alt="burgermenu">
        <img class="hidden burger" src="/img/burger_closed.svg" alt="burgermenu">
    </ul>
    <ul id="menu" class="hiddens">
        <li><img src="/img/books.svg" alt=""></li>
        <li><a href="/kalender/">Kalender</a></li>
        <li><a href="/forlag/">Forlag</a></li>
        <li><a href="/boghandel/">Boghandlen</a></li>
        <li><a href="/podcast/">Podcast</a></li>
        <li><a href="/udlejning/">Udlejning</a></li>
    </ul>

    <ul id="desktop">
        <li><a href="/">Forside</a></li>
        <li><a href="/kalender/">Kalender</a></li>
        <li><a href="/forlag/">Forlag</a></li>
        <li><a href="/boghandel/">Boghandlen</a></li>
        <li><a href="/podcast/">Podcast</a></li>
        <li><a href="/udlejning/">Udlejning</a></li>
    </ul>
</nav>

<style>

.hidden {
    display: none;
}

img {
    width: 50px;
}

#mobile, #desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    background-color: var(--ren_hvid);
    width: 100%;
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--ren_hvid);
    margin-top: 7rem;
    padding: 2rem;
    height: 90vh;
}

.logo {
    width: 60px;
}
.burger {
    height: 40px;
}
@media only screen and (max-width: 600px) {
  #desktop{
    display: none;
  }
}

</style>