---

---

<nav>
     <ul id="mobile">
        <a href="/"> <img class="logo" src="/img/logo_1.svg" alt="logo"></a>
        <img class="burger burger_open" src="/img/burger_open.svg" alt="burgermenu">
        <img class="burger burger_closed hidden" src="/img/burger_closed.svg" alt="burgermenu">
    </ul>
    <ul id="menu" class="hidden">
        <li><img src="/img/books.svg" alt=""></li>
        <li><a href="/kalender/">Kalender</a></li>
        <li><a href="/forlag/">Forlag</a></li>
        <li><a href="/boghandel/">Boghandlen</a></li>
        <li><a href="/podcast/">Podcast</a></li>
        <li><a href="/udlejning/">Udlejning</a></li>
    </ul>

    <ul id="desktop">
        <li><a href="/"><img src="/img/logo_1.svg" alt="logo"></a></li>
        <li><a href="/kalender/">Kalender</a></li>
        <li><a href="/forlag/">Forlag</a></li>
        <li><a href="/boghandel/">Boghandlen</a></li>
        <li><a href="/podcast/">Podcast</a></li>
        <li><a href="/udlejning/">Udlejning</a></li>
    </ul>

    <script>
        const burgerOpen = document.querySelector('.burger_open');
        const burgerClosed = document.querySelector('.burger_closed');
        const menu = document.querySelector('#menu');
    
        window.addEventListener("load", sidenVises);

        function sidenVises() {

        //viser menu icon
        burgerOpen.classList.remove('hidden');
    
        //skjuler menu
        burgerClosed.classList.add('hidden');
        menu.classList.add('hidden');
    
        //sætter klik på burger knap
        burgerOpen.addEventListener("click", toggleMenu);

        }

        function toggleMenu() {
            console.log(toggleMenu);

            //skjuler menu icon
            burgerOpen.classList.add('hidden');
            burgerClosed.classList.remove('hidden');

            //viser menu
            menu.classList.remove('hidden');

            //sætter klik på closeIcon
            burgerClosed.addEventListener('click', sidenVises);
        }
    
    </script>
</nav>

<style>

.hidden {
    display: none !important;
}

img {
    width: 50px;
}

#mobile, #desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    background-color: var(--ren_hvid);
    width: 100%;
}

#desktop {
    padding: 3rem;
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--ren_hvid);
    margin-top: 7rem;
    padding: 2rem;
    height: 90vh;
}

.logo {
    width: 60px;
}
.burger {
    height: 40px;
}
@media only screen and (max-width: 600px) {
  #desktop{
    display: none;
  }
}

@media only screen and (min-width: 600px) {
    #mobile, menu{
    display: none;
  }
}



</style>