---
const header = Astro.props.header;
const text = Astro.props.text;
---

<article>
  <h4>{header}</h4>
  <p>{text}</p>
  <img src="/public/img/placeholder-img.png" alt="" width="500px" />
</article>
