---
const { header, text, src } = Astro.props;
---

<article>
  <h4>{header}</h4>
  <p>{text}</p>
  <slot/>
</article>

<style>
  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
