---

---

<section>
    <h2><span>S1E1</span> - Debuten</h2>
    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4EJZHoRwVw5aEy8KgDGQeS?utm_source=generator" width="100%" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <div class="textbox">
        <p>Denne første episode handler om at debutere, og derfor har vi inviteret Rasmus Daugbjerg og Cæsilie Højbjerg Poulsen ind til en snak om deres debut, som udkommer på Forlaget Møllegades Boghandel under debutantserien Æra. Rasmus er uskommet med kortromanen Rygtet, som omhandler et du, der flytter til en navnløs by, hvorefter rygterne begynder at sprede sig. Cæcilie udkommer med sin bog i sommeren 2021, som er en digtsamling om omsorrgsarbejde og opvæksten i en kristen tradition. I episoden bliver den kaldt Hun om nogen, men titlen er endnu ikke fastlagt. Vi har blandt andet talt med dem om processen og de udfordringer de har oplevet undervejs, hvornår de vidste at det de skrev på skulle blive til en bog og hvilke følelser der er forbundet med udgivelsen. 

            Tilrettelæggelse og interview af Clara Busch Madsen og Maria Stokkedal Hundahl.
            
            Produceret af Yasmina Nedjoua, Kamilla Ane Peterson, Clara Busch Madsen og Maria Stokkedal Hundahl.
            
            Musik af Vilhelm Tiburtz Strange.
            
            Billede af Anna Hanhøj Iversen</p>
        </div>
    </div>
</section>

<style>
    iframe {
        border: 0px;
    }

    .textbox {
        height: 400px;
        overflow: scroll;
    }

</style>