@font-face {
  font-family: garamond;
  src: url(../fonts/EBGaramond-VariableFont_wght.woff2);
}
@font-face {
  font-family: maitree;
  src: url(../fonts/Maitree-Regular.woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --ren_hvid: #ffffff;
  --lov_gron: #008000;
  --solskind_orange: #ffa502;
  --natte_sort: #000000;
}

main {
  padding: 10rem 1rem 6rem 1rem;
}

a,
li {
  list-style: none;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--natte_sort);
  text-transform: uppercase;
}

nav a:hover,
li:hover {
  color: var(--lov_gron);
  font-style: italic;
  transition: color 0.3s ease;
}

h1 {
  font-size: 3rem;
  font-family: garamond;
  font-weight: bold;
  line-height: 150%;
  padding-bottom: 2rem;
}

h2 {
  font-size: 2.25rem;
  font-family: garamond;
  font-weight: bold;
  line-height: 150%;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  font-family: garamond;
  font-weight: medium;
  line-height: 125%;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

h4 {
  font-size: 2rem;
  font-family: garamond;
}

p {
  font-size: 1rem;
  font-family: maitree;
}

/* scrollbar */

::-webkit-scrollbar {
  height: 10px;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 10px;
}

/* desktop */

@media only screen and (min-width: 600px) and (max-width: 799px) {
  main {
    padding: 10rem 4rem;
  }
}

@media only screen and (min-width: 800px) {
  main {
    padding: 10rem 8rem;
  }
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.38rem;
  }
}
